<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Definitions</key>
	<dict>
		<key>___FILEBASENAME___/___FILEBASENAME___Input.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Input.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/___FILEBASENAME___Output.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Output.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Assembly/___FILEBASENAME___Assembly.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Assembly.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Assembly</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Assembly/___FILEBASENAME___Assembly.m</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Assembly.m</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Assembly</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Interactor/___FILEBASENAME___Interactor.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Interactor.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Interactor</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Interactor/___FILEBASENAME___Interactor.m</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Interactor.m</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Interactor</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Interactor/___FILEBASENAME___InteractorInput.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___InteractorInput.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Interactor</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Interactor/___FILEBASENAME___InteractorOutput.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___InteractorOutput.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Interactor</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Models/___FILEBASENAME___InputData.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___InputData.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Models</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Models/___FILEBASENAME___InputData.m</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___InputData.m</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Models</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Models/___FILEBASENAME___Models.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Models.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Models</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Models/___FILEBASENAME___Models.m</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Models.m</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Models</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Presenter/___FILEBASENAME___Presenter.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Presenter.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Presenter</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Presenter/___FILEBASENAME___Presenter.m</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Presenter.m</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Presenter</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Presenter/___FILEBASENAME___PresenterInput.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___PresenterInput.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Presenter</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Presenter/___FILEBASENAME___PresenterOutput.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___PresenterOutput.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Presenter</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Router/___FILEBASENAME___Router.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Router.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Router</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/Router/___FILEBASENAME___Router.m</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Router.m</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/Router</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/ViewController/___FILEBASENAME___ViewController.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___ViewController.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/ViewController</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/ViewController/___FILEBASENAME___ViewController.m</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___ViewController.m</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/ViewController</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/ViewController/___FILEBASENAME___ViewControllerInput.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___ViewControllerInput.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/ViewController</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/ViewController/___FILEBASENAME___ViewControllerOutput.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___ViewControllerOutput.h</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___/ViewController</string>
			</array>
		</dict>
	</dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
	</array>
	<key>Description</key>
	<string>Create all necesseray files for VIP module.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>Create all necesseray files for VIP module</string>
</dict>
</plist>
